# Module
-e .
# Tests
pytest
torch
torchvision
torchaudio
numpy
pytorch-lightning
permacache
stitch-core
scikit-learn
s-exp-parser @ git+https://github.com/kavigupta/s-exp-parser@bfb01df5df8f61486cdddeeea45f10d962faa7e2