*.aux
*.out
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.p
*.pyc
__pycache__
__pycache__/
_build
*.cost
container.img
venv/
.DS_Store
ocaml/bin
/versionDemo
/clevrSolver
/clevrTest
/compression
/helmholtz
/logoDrawString
/protonet_tester
/re2Test
/solver
/test_clevr_primitives
compressionMessages/
**/__pycache__
.ipynb_checkpoints
Untitled.ipynb
env
*.swp
.idea
*.egg-info
dist
.vs
build
neurosym-env
ns_env
